 .App {
    background-color: rgb(38, 2, 29);
}

.background-image {
    background-image: url('../src/components/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 10px;
    box-shadow:  0 0 20px #FF0000, 0 0 10px #0000FF;
}

.header-container {
    display: flex; 
    align-items: center;
    height: 500px;
}

.header-1 {
    font-size: 40px;
}

.controller-image {
    width: 100px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    background: white;
    border-radius: 50%;
    box-shadow:  0 0 20px #FF0000, 0 0 10px #0000FF;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.footer-container {
    background-image: url('../src/components/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}